<!-- <input
  class="search"
  [(ngModel)]="searchQuery"
  placeholder="Search For Images"
/>
<button (click)="searchImages(searchQuery)">Find Images</button>


<div *ngFor="let image of images">
  <img src="{{ image.webformatURL }}" />
  <p>Comment: {{ image.comments }}</p>
  <p>favorites: {{ image.favorites }}</p>
  <p>likes: {{ image.likes }}</p>
  <p>views: {{ image.views }}</p>
  <p>pageURL: {{ image.pageURL }}</p>
  <p>previewURL: {{ image.previewURL }}</p>
</div> -->

<mat-card>
  <mat-input-container>
      <input
      class="search" matInput
      [(ngModel)]="searchQuery"
      name="searchQuery"
      placeholder="Search For Images"
    />
  </mat-input-container>
  <button (click)="searchImages(searchQuery)" mat-raised-button class="searchButton">Find Images</button>

</mat-card>

<div *ngIf="searching">
  <mat-progress-bar mode="intermediate">

  </mat-progress-bar>
</div>

<mat-card>
    <h4 *ngIf="imagesFound" mat-subeader>Results</h4>
    <masonry [useImagesLoaded]="true">
      <masonry-brick *ngFor="let image of images" class=image-container>
        <mat-card>
          <a href="{{ image.pageURL }}" target="_bank">
            <mat-card-header>
              <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
              <mat-card-title>User: {{ image.user }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{image.webformatURL}}">
            <mat-card-content>
              <p>Tags: {{ image.tags }}</p>
              <p>Views: {{ views.favorites }}</p>            
              <p>Likes: {{ image.likes }}</p>
              <p>Favourites: {{ image.favorites }}</p>
              <p>Comments: {{ image.comments }}</p>
            </mat-card-content>
          </a>
        </mat-card>
        <br><br>
      </masonry-brick>
    </masonry>
  </mat-card>